#helpMessage {
    -fx-text-fill: white;
    -fx-control-inner-background: derive(#1d1d1d, 20%);
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 13px;
}

#helpMessage .content {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
